.table-caption{
    margin-top:-20px;
    border-radius:4px;
    background: linear-gradient(60deg,#2f58df,#3924b1); 
    padding:10px
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-select {
    flex: 0 0 20px;
    width: 60px;
}

th.mat-header-cell{
    
    font-size: 15px;
    font-weight: bold;
    background: lightgray;
}