<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" role="heading">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">مدیریت لیگ</h1>
  </mat-toolbar>

  <mat-sidenav-container dir="rtl" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a class="sidenavelement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/"
          mat-list-item href="#">
          <mat-icon>dashboard</mat-icon> &nbsp; داشبورد
        </a>
        <mat-divider></mat-divider>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/game-types" mat-list-item href="#">
          <mat-icon>games</mat-icon> &nbsp; انواع بازی
        </a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/players" mat-list-item href="#">
          <mat-icon>people</mat-icon> &nbsp; بازیکنان
        </a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/league-types" mat-list-item href="#">
          <mat-icon>dns</mat-icon> &nbsp; انواع لیگ
        </a>
        <a class="sidenavelement" routerLinkActive="active-link" routerLink="/leagues" mat-list-item href="#">
          <mat-icon>table_chart</mat-icon> &nbsp; لیگ ها
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>