@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "m-modified.css";
@import "assets/samimFont/font-face.css";


.mat-list-item,
.mat-button,
.mat-table,
.mat-form-field {
    font-family: Samim !important;
}

.persian > .mat-simple-snackbar {
    font-family: Samim !important;
    justify-content: center;
    color: white;
}

.mat-toolbar {
    /* font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif, Samim; */
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 20px;
    line-height: 32px;
    /* font-family: Samim, Roboto, "Helvetica Neue", sans-serif; */
    font-family: Samim;
    margin: 0;
}